.checkout{
    margin: auto;
    height:100vh;

    h2{
        font-size: 28px;
        font-family: 'Plus Jakarta Sans', sans-serif;
        color:#B8C1EC;
        margin-top: 30px;
        text-align: center;
        margin-bottom: 60px;
        margin-top: 60px;
        }
    &-content{
        display: flex;
        margin:auto;
        max-width: 900px;
        flex-wrap: wrap;
        

        div {
            flex: 0 0 calc(20% - 20px);
            margin-right: 20px; 
            margin-bottom: 20px;
            

        img{
            max-width: 100%;
            object-fit: cover;
            box-shadow: 0 4px 6px -1px rgba(90, 89, 89, 0.5);
            border-radius: 20px;
            transition: transform 0.5s, box-shadow 0.5s; 
            cursor: pointer;
            height: auto;
        }
        h4{
          margin-top: 12px;
          color:#232946;
          font-family: 'Plus Jakarta Sans', sans-serif;
          font-size: 13px;
          margin-bottom: 15px;
        }
        
    } 

    }
}